*.o
*.bak
*.orig
*.diff
*.patch
*.so
*.a
*.la
*.lo
*.pyc
*.page
*.swp
*~

Makefile
Makefile.in
core
log
.deps
.libs
.dirstamp

/aclocal.m4
/autom4te.cache
/autoregen.sh
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/gstreamer-made-simple.spec
/install-sh
/libtool
/ltmain.sh
/missing
/py-compile
/stamp-h.in
/stamp-h1

/gms/gmsmarshal.h
/gms/gmsmarshal.c

/docs/version.entities

/bindings/python/ges.c

/m4

/test-driver
/tests/check/*.log
/tests/check/*.trs
/tests/check/*/*.log
/tests/check/*/*.trs

/tests/check/coverage/
*gcno
*BACKUP*
*REMOTE*
*LOCAL*
*BASE*
*anjuta*
